src/main/resources/com/studerw/tda/model/xsd/LastOrderStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element name="last-order-status">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="account-id"/>
              <xs:element type="xs:string" name="last"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>