src/main/resources/com/studerw/tda/model/xsd/market-snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element name="market-snapshot">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="quote-timestamp"/>
              <xs:element name="markets">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="index" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="error"/>
                          <xs:element type="xs:string" name="symbol"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:string" name="open"/>
                          <xs:element type="xs:string" name="high"/>
                          <xs:element type="xs:string" name="low"/>
                          <xs:element type="xs:string" name="last"/>
                          <xs:element type="xs:string" name="last-trade-date"/>
                          <xs:element type="xs:string" name="close"/>
                          <xs:element type="xs:string" name="year-high"/>
                          <xs:element type="xs:string" name="year-low"/>
                          <xs:element type="xs:string" name="real-time"/>
                          <xs:element type="xs:string" name="asset-type"/>
                          <xs:element type="xs:string" name="change"/>
                          <xs:element type="xs:string" name="change-percent"/>
                          <xs:element type="xs:string" name="volume"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>