src/main/resources/com/studerw/tda/model/xsd/option-order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element name="order-wrapper">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="orderstring"/>
              <xs:element type="xs:string" name="error"/>
              <xs:element name="order">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="account-id"/>
                    <xs:element name="security">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="symbol"/>
                          <xs:element type="xs:string" name="symbol-with-type-prefix"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:string" name="asset-type"/>
                          <xs:element type="xs:string" name="exchange"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="quantity"/>
                    <xs:element type="xs:string" name="order-id"/>
                    <xs:element type="xs:string" name="action"/>
                    <xs:element type="xs:string" name="trade-type"/>
                    <xs:element name="requested-destination">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="routing-mode"/>
                          <xs:element type="xs:string" name="market-maker-id"/>
                          <xs:element type="xs:string" name="response-description"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="routing-display-size"/>
                    <xs:element type="xs:string" name="order-type"/>
                    <xs:element type="xs:string" name="limit-price"/>
                    <xs:element type="xs:string" name="stop-price"/>
                    <xs:element name="time-in-force">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="session"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="put-call"/>
                    <xs:element type="xs:string" name="open-close"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>