src/test/resources/com/studerw/tda/model/login.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element name="xml-log-in">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="session-id"/>
              <xs:element type="xs:string" name="user-id"/>
              <xs:element type="xs:string" name="cdi"/>
              <xs:element type="xs:string" name="timeout"/>
              <xs:element type="xs:string" name="login-time"/>
              <xs:element type="xs:string" name="associated-account-id"/>
              <xs:element type="xs:string" name="nyse-quotes"/>
              <xs:element type="xs:string" name="nasdaq-quotes"/>
              <xs:element type="xs:string" name="opra-quotes"/>
              <xs:element type="xs:string" name="amex-quotes"/>
              <xs:element type="xs:string" name="cme-quotes"/>
              <xs:element type="xs:string" name="ice-quotes"/>
              <xs:element type="xs:string" name="forex-quotes"/>
              <xs:element type="xs:string" name="exchange-status"/>
              <xs:element name="authorizations" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="options360"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="accounts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="account">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="account-id"/>
                          <xs:element type="xs:string" name="display-name"/>
                          <xs:element type="xs:string" name="cdi"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:string" name="associated-account"/>
                          <xs:element type="xs:string" name="company"/>
                          <xs:element type="xs:string" name="segment"/>
                          <xs:element type="xs:string" name="unified"/>
                          <xs:element name="preferences">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="express-trading"/>
                                <xs:element type="xs:string" name="optionOrder-direct-routing"/>
                                <xs:element type="xs:string" name="stock-direct-routing"/>
                                <xs:element type="xs:string" name="default-stock-action"/>
                                <xs:element type="xs:string" name="default-stock-order-type"/>
                                <xs:element type="xs:string" name="default-stock-quantity"/>
                                <xs:element type="xs:string" name="default-stock-expiration"/>
                                <xs:element type="xs:string" name="default-stock-special-instructions"/>
                                <xs:element type="xs:string" name="default-stock-routing"/>
                                <xs:element type="xs:string" name="default-stock-display-size"/>
                                <xs:element type="xs:string" name="stock-tax-lot-method"/>
                                <xs:element type="xs:string" name="optionOrder-tax-lot-method"/>
                                <xs:element type="xs:string" name="mutual-fund-tax-lot-method"/>
                                <xs:element type="xs:string" name="default-advanced-tool-launch"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="authorizations">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="apex"/>
                                <xs:element type="xs:string" name="level2"/>
                                <xs:element type="xs:string" name="stock-trading"/>
                                <xs:element type="xs:string" name="margin-trading"/>
                                <xs:element type="xs:string" name="streaming-news"/>
                                <xs:element type="xs:string" name="optionOrder-trading"/>
                                <xs:element type="xs:string" name="streamer"/>
                                <xs:element type="xs:string" name="advanced-margin"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
