src/test/resources/com/studerw/tda/model/quote_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element type="xs:string" name="error" minOccurs="0" maxOccurs="1"/>
        <xs:element name="quote-list" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="error"/>
              <xs:element name="quote" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element type="xs:string" name="error" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="symbol" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="description" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="bid" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="ask" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="bid-ask-size" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="last" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="last-trade-size" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="last-trade-date" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="open" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="high" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="low" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="close" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="volume" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="year-high" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="year-low" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="real-time" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="exchange" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="asset-type" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="change" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="change-percent" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="nav" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="offer" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="strike-price" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="open-interest"  minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="expiration-month" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="expiration-day" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="expiration-year" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="underlying-symbol" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="put-call" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="delta" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="gamma" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="theta" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="vega" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="rho" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="implied-volatility" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="days-to-expiration" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="time-value-index" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="xs:string" name="multiplier" minOccurs="0" maxOccurs="1"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
