src/test/resources/com/studerw/tda/model/symbol-lookup-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="amtd">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="result"/>
        <xs:element type="xs:string" name="error" minOccurs="0" maxOccurs="1"/>
        <xs:element name="symbol-lookup-result" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="error" minOccurs="1" maxOccurs="1"/>
              <xs:element type="xs:string" name="search-string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="symbol-result" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="symbol"/>
                    <xs:element name="description" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>